html {
    /*border box tells me that my content, my padding, my border is all included in the width and the height*/
    box-sizing: border-box;
}

body {
    background-color:lightblue;
    margin: 10px;
}

footer {
    background-color: pink;
    text-align: center;
}

h1 {
    font-size: 2.5em;

    margin: 0px;
}
 h2 {
     font-size: 1.35em;
     margin-top: 10px;
 }

 h3 {
     font-size: 1.25em:
 }

 h4 {
     font-size: .9em;
 }

 a:hover {
     color:red;
     text-decoration: none;
 }

 .profileimage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
 }

